<!doctype html>
<html>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Admin panel</title>
    </head>

    <body>
        {{block "header" .}}

        {{end}}
        <div class="row">
            <div class="col-md">
                <div class="container vstack">
                <form id="add-user-panel" method="POST" action="/admin/adduser">
                    <div class="row">
                        <div class="col-3">
                            <label class="d-flex justify-content-center" for="usernameInput"> Username </label>
                        </div>
                        <div class="col-9 align-self-center">
                            <input id="usernameInput" name="username" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="d-flex justify-content-center" for="passwordInput"> Password</label>
                        </div>
                        <div class="col-9 align-self-center">
                            <input id="passwordInput" name="password" type="password">
                        </div>
                    </div>
                    <label for="userRole"> User</label>
                    <input type="radio" name="role" id="userRole" value="user" checked>

                    <label for="adminRole"> Admin </label>
                    <input type="radio" name="role" id="adminRole" value="admin">

                    <input type="submit" value="Add User">
                </form>
                </div>
            </div>

            <div class="col-md">

                <div class="container vstack">

                    <form id="add-country-panel" method="POST" action="/admin/addcountry">

                        <div class="row">

                            <div class="col-3">
                                <label for="countryFormat"> Country Number Format </label>
                            </div>

                            <div class="col-9 align-self-center">
                                <input id="countryFormat" name="countryformat" type="text">
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-3">
                                <label for="countryCode"> Country Code</label>
                            </div>

                            <div class="col-9 align-self-center">
                                <input  id="countryCode" name="countrycode" type="text">
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-3">
                                <label for="ciInput">Country Identifier</label>
                            </div>
                            
                            <div class="col-9 align-self-center">
                                <input  id="ciInput" type="text" name="countryidentifier">
                            </div>

                        </div>

                        <div class="row">
                            
                            <div class="col-3">
                                <label for="ccLenInput" > Country Code Length</label>
                            </div>

                            <div class="col-9 align-self-center">
                                <input id="ccLenInput" type="text" name="countrycodelength">
                            </div>

                        </div>

                        <input type="submit" value="Add Country">

                    </form>
                </div>
            </div>

            <div class="col-md">
                <form id="add-operator-panel" method="POST" action="/admin/addoperator">
                    <label for="operatorCiInput"> Country Identifier </label>
                    <input id="operatorCiInput" name="countryidentifier" type="text">

                    <label for="operatorFormat"> Prefix Format</label>
                    <input  id="operatorFormat" name="prefixformat" type="text">

                    <label for="mnoInput"> MNO </label>
                    <input  id="mnoInput" type="text" name="mno">

                    <label for="prefixLen" > Prefix Length </label>
                    <input id="prefixLen" type="text" name="prefixlength">

                    <input type="submit" value="Add Operator">
                </form>
            </div>
        </div>
        {{ if .error }}
        <p> {{ .error }} </p>
        {{ end }}

        <div class="row">
            <div class="col-md-2">
                <form id="get-all-users" method="POST" action="/admin/getusers">
                    <input type="submit" value="Get All Users">
                </form>
            </div>
            <div class="col-md-2">
                <form id="get-all-countries" method="POST" action="/admin/getcountries">
                    <input type="submit" value="Get All Countries">
                </form>
            </div>
            <div class="col-md-2">
                <form id="get-all-operators" method="POST" action="/admin/getoperators">
                    <input type="submit" value="Get All Operators">
                </form>
            </div>
        </div>

        {{ if .users }}
        <table class="table table-bordered">
            {{ with .users}}
                <tr> 
                <td> UUID</td>
                <td> Username</td>
                <td> Role </td>
                <td> Edit </td>
                <td> Remove </td>
                </tr>
                {{ range . }}
                <tr data-identifier=" {{ .UUID }}">
                <td> {{ .UUID }}</td>
                <td> {{ .Username }}</td>
                <td> {{ .Role }} </td>
                <td>
                    <form method="POST" action="/admin/edituserpanel">
                        <input type="text" name="uuid" value="{{ .UUID }}" hidden>
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form method="POST" action="/admin/removeuser">
                        <input type="text" name="uuid" value="{{ .UUID }}" hidden>
                        <input type="submit" value="Remove"> 
                    </form>
                </td>
                </tr>
                {{ end }}
            {{ end }}
        </table>
        {{ end }}

        {{ if .countries }}
        <table class="table table-bordered">
            {{ with .countries}}
                <tr> 
                <td> Country Number Format</td>
                <td> Country Code</td>
                <td> Country Identifier </td>
                <td> Country Code Length </td>
                <td> Edit </td>
                <td> Remove </td>
                </tr>
                {{ range . }}
                <tr data-identifier="{{ .CountryNumberFormat }}">
                <td> {{ .CountryNumberFormat }}</td>
                <td> {{ .CountryCode }}</td>
                <td> {{ .CountryIdentifier }} </td>
                <td> {{ .CountryCodeLength }} </td>
                <td>
                    <form method="POST" action="/admin/editcountry">
                        <input type="text" name="countryformat" value="{{ .CountryNumberFormat }}" hidden>
                        <input type="submit" value="Edit"> 
                    </form>
                </td>
                <td>
                    <form method="POST" action="/admin/removecountry">
                        <input type="text" name="countryformat" value="{{ .CountryNumberFormat }}" hidden>
                        <input type="submit" value="Remove"> 
                    </form>
                </td>
                </tr>
                {{ end }}
            {{ end }}
        </table>
        {{ end }}

        {{ if .operators }}
        <table class="table table-bordered">
            {{ with .operators}}
                <tr> 
                <td> Country Identifier </td>
                <td> Prefix Format</td>
                <td> MNO </td>
                <td> Prefix Length</td>
                <td> Edit </td>
                <td> Remove </td>
                </tr>
                {{ range . }}
                <tr data-identifier=" {{ .PrefixFormat }}">
                <td> {{ .CountryIdentifier }}</td>
                <td> {{ .PrefixFormat }}</td>
                <td> {{ .MNO }} </td>
                <td> {{ .PrefixLength }} </td>
                <td>
                    <form method="POST" action="/admin/editoperator">
                        <input type="text" name="prefixformat" value="{{ .PrefixFormat }}" hidden>
                        <input type="submit" value="Edit"> 
                    </form>
                </td>  
                <td>
                    <form method="POST" action="/admin/removeoperator">
                        <input type="text" name="prefixformat" value="{{ .PrefixFormat }}" hidden>
                        <input type="submit" value="Remove"> 
                    </form>
                </td>
                </tr>
                {{ end }}
            {{ end }}
        </table>
        {{ end }}
                

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>