{{ define "header" }}

<div class="container-fluid text-center bg-primary-subtle">
    <div class="row">
        <div class="col-sm-2">
            <a href="/">Home</a>
        </div>
        <div class="col-sm-2">
            <a href="/register">Register</a>
        </div>
        <div class="col-sm-2">
            <a href="/login">Login</a>
        </div>
        <div class="col-sm-2">
            <a href="/logout">Log Out</a>
        </div>
        <div class="col-sm-2">
            <a href="/service/lookup">Number Lookup</a>
        </div>
        <div class="col-sm-2">
            <a href="/admin/panel">Admin Panel</a>
        </div>
    </div>
</div>

{{ end }}