<html>

<head>
    
</head>

<body>
    <div>
        <a href="/" id="homescreenlink"></a>
    </div>
    <div>
        <a href="/logout" id="logoutlink"> Log Out</a>
    </div>

    <div>
        <form method="POST" action="/service/lookup">
        <label for="msisdn-input"></label>
        <input type="text" placeholder="+38977123456" id="msisdn-input" name="number">
        <input type="submit" id="msisdn-input-submit"></input>
        </form>
    </div>

    {{ if .error }}
        <p> Error: {{ .error }} </p>
    {{ end }}
    {{ if .mno  }}
        <p> MNO: {{ .mno }} </p>
        <p> Country Code: {{ .cc }} </p>
        <p> Subscriber Number: {{ .sn }} </p>
        <p> Country Identifier: {{ .ci }} </p>
    {{ end }}
    <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie/dist/js.cookie.min.js"></script>
</body>
</html>